.App {
  font-family: Arial, sans-serif;
  height: 100vh;
}

.join-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f6ff;
}

.join-card {
  background: white;
  width: 400px;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.join-card h1 {
  margin: 0;
  font-size: 30px;
  color: #5b6d80;
}

.subtitle {
  margin: 0;
  font-size: 12px;
  color: #607080;
}

.join-card input {
  padding: 10px;
  border: 1px solid hsl(222, 20%, 83%);
  border-radius: 6px;
  font-size: 14px;
  outline: none;
}

.join-card input:focus {
  border-color: #545a64;
}

.join-card button {
  padding: 12px;
  font-size: 15px;
  color: white;
  border: none;
  border-radius: 6px;
  background: #556a92;
  cursor: pointer;
  transition: 0.2s;
}

.join-card button:hover {
  background: #7f99c7;
  transform: translateY(-1px);
}

.chat-container {
  display: flex;
  height: 94vh;
  gap: 20px;
  padding: 20px;
  background: #eef2fb;
}

.sidebar {
  width: 200px;
  border-right: 1px solid #ccc;
  padding-right: 15px;
}

.chat-box {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 12px;
  background: white;
  border: 1px solid #dce2ee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  max-width: 65%;
  padding: 10px 14px;
  border-radius: 12px;
  line-height: 1.35;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.my-message {
  background: #8bb1e8;
  color: white;
  margin-left: auto;
  border-bottom-right-radius: 4px;
}

.other-message {
  background: #f1f2f5;
  color: #222;
  border: 1px;
  border-bottom-left-radius: 4px;
}

.sender {
  font-size: 12px;
  font-weight: bold;
  opacity: 0.7;
}

.system-message {
  align-self: center;
  background: #e4e7ef;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 13px;
  color: #444;
}

.input-area {
  display: flex;
  gap: 10px;
  margin-top: 12px;
}

.input-area input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccd0da;
}

.input-area button {
  padding: 10px 16px;
  border-radius: 8px;
  background: #3062a7;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.input-area button:hover {
  background: #8bb1e8;
}
